* {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.area {
    padding: 40px;
}

#input {
    background: green;
}

#filter {
    background: red;
}

#output {
    background: blue;
}

#buttons {
    flex-direction: row;
}

.fbutton {
    margin: 10px;
}