/*
 * 
 * RGX / Text Analyzer is an online text editing and filtering tool,
 * created by Mathias Grindsäter and Örn Segerstedt.
 * 
 * This file handles the styling of the application.
 *
 */

/* * * * * * * * * * * * * * * * * * *
 *                                   *
 *                                   *
 *       – TABLE OF CONTENTS –       *
 *                                   *
 *      I....Global                  *
 *      II...Colors                  *
 *      III..Text                    *
 *       :. i....???                 *
 *       :. ii...???                 *
 *       :. iii..???                 *
 *                                   *
 *                                   *
 *    © 2022 mathiasgrin & eeegl     *
 *                                   *
 *                                   *
 * * * * * * * * * * * * * * * * * * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* display: flex; */
    display: flex;
    flex-direction: column;
}

/* Variables */
:root {
    /* --background-color: rgb(29, 26, 24); */
    --background-color: aliceblue;

}

/* Settings affecting the whole webpage */
body {
    background-color: var(--background-color);
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 90%;
}

.btns {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}

.form label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 26px;
	text-align: center;
	height: 150px;
	line-height: 150px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form input:checked + label{
	border: 3px solid #333;
	background-color: #2fcc71;
}

.form input:checked + label:after{
	content: "\2713";
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	border: 2px solid #333;
	background-color: #2fcc71;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}










/* form > input {
    width: 100px;
    height: 100px;
    background: green;
} */

.remove {
    display: flex;
    flex-direction: row;
}

.replace {
    display: none;    
}

.replace-buttons {
    display: flex;
    flex-direction: row;
}

.next-or-before-buttons {
    display: flex;
    flex-direction: row;
}

#replace-section {
    background:yellow;
}

.search-and-remove-bars {
    width: 30em;
    padding: 1em;
    resize: none;
    margin: 0.5em 0;
}

/* Container class affects almost the whole document */
.container {
    font-size: 12px;
    background-color: yellow;
}

/* box-1 is the main header section */
.box-1 {
    /* Creates space above, below and on the sides */
    padding: 20px;
    margin: 20px;
    text-align: center;
}

/* Only affect h1 in box-1 (main header) */
.box-1 h1 {
    text-decoration: underline;
    Letter-spacing: 0.2em;
}

#input-box {
    border: 1px dotted red;
    /* Border radius makes the edges smoother */
    border-radius: 5px;
    height: 200px;
    padding: 10px;
    display: none;
}

#input-box div {
    display: inline;
}

/* Input box version 2 */
#input-v2-container {
    width: 100%;
    height: 25em;
    position: relative;
    inset: 0;
    background: white;
    box-sizing: border-box;
    
}

#input-v2-container>* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    padding: 1em;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    inset: 0;
    position: absolute;
}

#input-v2-highlight {
    /* background: blue; */
    display: inline;
    white-space: pre-wrap;
    overflow-y: scroll;
    color: transparent;
}

/* Prevent double scrollbars (hide highlight div scrollbar) */

/* Hide scrollbar for Chrome, Safari and Opera */
#input-v2-highlight::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#input-v2-highlight {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#input-v2-textbox {
    /* background: red; */
    z-index: 1;
    background: transparent;
    resize: none;
}

#input-v2-textbox:focus {
    box-shadow: red;
}

/* TEXT HIGHLIGHTING */


mark {
    display: inline;
    background: yellow;
    color: transparent;
}

.selected {
    background: lightsalmon;
}

/* .highlight-selection {
    display: inline;
    background: lime;
} */

/* Miscellaneous */

.section {
    padding: 40px;
}

#counters > div {
    margin: 0;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-right: 1px solid red;
}

#counters > div:last-of-type {
    border-right: none;
}

#counters h3 {
    margin: 0;
    background: green;
    height: 2em;
}

#counters div div {
    margin: 0;
    padding: 1em;
    /* background: lightblue; */
    font-size: 2em;
    white-space: nowrap;
}


.wordsAndCharacters {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: fit-content;
    padding: 10px;
    display: inline;
}

/* Reference to link. Notice that it looks through the whole href-string for "wiki" */
a[href*="wiki"] {
    color: darkblue;
}

/* References hovering on <a> elements such as links */
a:hover {
    color: darkorange;
}

/* References hovering of buttons */
button:hover {
    color: darkorange;
}

#footer {
    background-image: url(https://giffiles.alphacoders.com/360/36032.gif);
    background-size: cover;
    color: white;
}